@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Arial:ital,wght@0,400;0,700;1,400;1,700&family=Arial+Black&family=Comic+Sans+MS&family=Courier+New&family=Helvetica+Neue&family=Helvetica&family=Impact&family=Lucida+Grande&family=Tahoma&family=Times+New+Roman&family=Verdana&display=swap");

#toolbar {
    border-color: #eaeaea;
}
#toolbar .ql-font {
    width: 130px;    
}
.ql-toolbar .ql-font option[value=nanumgothic] { font-family: 'Nanum Gothic'; }
.ql-toolbar .ql-font option[value=arial] { font-family: 'Arial'; }
.ql-toolbar .ql-font option[value=arialblack] { font-family: 'Arial Black'; }
.ql-toolbar .ql-font option[value=comic-sans-ms] { font-family: 'Comic Sans MS'; }
.ql-toolbar .ql-font option[value=courier-new] { font-family: 'Courier New'; }
.ql-toolbar .ql-font option[value=helvetica-neue] { font-family: 'Helvetica Neue'; }
.ql-toolbar .ql-font option[value=helvetica] { font-family: 'Helvetica'; }
.ql-toolbar .ql-font option[value=impact] { font-family: 'Impact'; }
.ql-toolbar .ql-font option[value=lucida-grande] { font-family: 'Lucida Grande'; }
.ql-toolbar .ql-font option[value=tahoma] { font-family: 'Tahoma'; }
.ql-toolbar .ql-font option[value=times-new-roman] { font-family: 'Times New Roman'; }
.ql-toolbar .ql-font option[value=verdana] { font-family: 'Verdana'; }

#toolbar .ql-size {
    width: 60px;
}
#toolbar .ql-header {
    width: 50px;
}

.ql-container {
    border-radius: 5px !important;
    border-color: #eaeaea !important;
}
.ql-snow.ql-toolbar button {
    height:  100% !important;
}

/* 스와이퍼 */
.swiper .swiper-button-next, .swiper .swiper-button-prev {
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.swiper .swiper-pagination {
   bottom: -30px !important;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: black;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: black;
    scale: 1.3;
}
